body{
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(2, 29, 10);
}

*{
    box-sizing: border-box;
}

.background-clip{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.title{
    text-align: center;
    color: #ffffff;
    margin: 2em 0;
    padding: 0 1em;
}

.title p{
    max-width: 500px;
    margin: 1em auto;
    line-height: 27px;
}
.mapdiv{
    width:28%;
    margin: auto;
}

.mapdiv path {
    fill: #026b25;
    stroke: #ffffff;
    stroke-width:1px;
    transition: fill 0.3s;
}

.mapdiv :hover {
    fill:#9ffac8;
}

/* .pin {
    background: #4362f8;
    position: inherit;
    width: 0.7em;
    height: 0.7em;
    top: 90%;
    border-radius: 50%;
}

.pin::before{
    content: '';
    background: #4362f8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    width: 100%;
  
}
.pin span{
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    left: 1.5em; 
    top: 90%;
    transform: translateY(-50%);
    background: #ffffff;
    border-radius: 3em;
    padding: 0.1em 0.3em;
    font-size: 0.9em;
} */